  <div class="navbar-fixed" style="background-color:black; height: 3%;">
        <div class="row align-left" style="color: whitesmoke">
        
        <div class="col s12 m2"> </div>
        <div class="col s12 m4">  <i class=" tiny material-icons">call</i> : 07036583661 </div>
        <div class="col s12 m4"> <i class=" tiny material-icons">mail_outline</i> : henrit09@gmail.com </div>
        <div class="col s12 m2"> <i class=" tiny material-icons" style="font-size: 1.2em">person</i> <a href="http://174.142.39.183/webgps" target="_blank"> Login</a> </div>
        </div>
   </div>


<div class="row">
  <div class="col s12 m1"> </div>
   <div class="col s12 m10 ">
      
       
         
        <router-outlet>
        </router-outlet>

 
      
   
    
          
  </div>
  <div class="col s12 m1"> </div>
 </div>