.card-panel{
    height: 40px;
    padding: 0px;
    margin: 2px;
}

h5{
    font-weight: 700;
    font-family: 'Raleway Bold', Helvetica, Arial, sans;
    font-style:italic;  
    color: whitesmoke; 
    font-size:2em;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


h2{
  font-size:1.7em;
  color:#F02510;
  font-weight: bold;
}