              
          <nav class="nav-extended" id="top">
              <div class="nav-wrapper">
                        <a href="#" class="brand-logo"><img src="../../assets/images/Logo3.PNG" alt="henrit track" width= 50% height= 50% class="circle responsive-img"> </a>       
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                          <li><a class="btn-floating btn-small waves-effect waves-light green" routerLink="/">  <i class="material-icons">home</i> </a></li>
                          <li><a [routerLink]="['/']" fragment="about" style="font-size: 1.1em; color: white"> about us </a></li>
                          <li><a [routerLink]="['/']" fragment="products" style="font-size: 1.1em; color: white"> products </a></li>
                          <li><a [routerLink]="['/']" fragment="contact" style="font-size: 1.1em; color: white"> contact us</a></li>
                
                          </ul>
                          <ul class="side-nav" id="mobile-demo" style="color:sandybrown">
                        <li><a class="btn-floating btn-small waves-effect waves-light green" routerLink="/"> home</a></li>
                        <li> <a [routerLink]="['/']" fragment="about" style="font-size: 0.9em; color: white"> about us </a></li>
                        <li> <a [routerLink]="['/']" fragment="products" style="font-size: 0.9em; color: white"> products </a></li>
                        <li> <a [routerLink]="['/']" fragment="contact" style="font-size: 0.9em; color: white"> contact us</a></li>
                </ul>
              
              </div>
            </nav>
            <br />
              <div class="slider">
          <ul class="slides">
            <li>
              <img src="../../assets/images/slide1.PNG"> <!-- random image -->
              <div class="caption center-align">
                <h3>Our platform</h3>
                <h5 class="light grey-text text-lighten-3">Our platform is being used around the world 
                  in multiple applications, from SVRS to UBI and 
                  beyond, as it contains a wide set of features.</h5>
              </div>
            </li>
            <li>
        <img src="../../assets/images/slide2.PNG"> <!-- random image -->
        <div class="caption left-align">
          <h3>Support</h3>
          <h5 class="light grey-text text-lighten-3">We support a wide range of GPS tracking 
              devices from many manufacturers</h5>
        </div>
      </li>
      <li>
        <img src="../../assets/images/slide3.PNG"> <!-- random image -->
        <div class="caption right-align">
          <h3>Why Henrit?</h3>
          <h5 class="light grey-text text-lighten-3">Place your own brand on the Henrit GPS platform 
and take advantage of our know-how, 
constant development and professional 
support.</h5>
        </div>
      </li>
   
    </ul>
  </div>
                <br/>
                <br/>
              
  <div class="row">
 <div class="col s12 m12" style="background-color: white;">
    <div class="row">
                    <div class="col s8">
                         <h2 class="header">About Us</h2> </div>
                       <div class="col s4 right-align">   
                        <span class="right-align"><a [routerLink]="['/']" fragment="top"> back to top</a> </span>
                       </div>
                </div>
    <div class="card horizontal">
      <div class="card-image" style="font-size: 4em;">
        <i class="material-icons">people</i>
      </div>
      <div class="card-stacked">
        <div class="card-content" id="about" style="font-size: 1.2em;">
          <p>We have extensive experience and broad knowledge in issues relating to both technology 
            acquisition and transmission of 
            data from vehicles, as well as their interpretation and target analysis.
              We based the architecture of solutions, on the experience based on a group of 
              specialized engineers with experience gathered over the years, with a modern technological and visionary look. 
              Among other things, that’s why our engineers, are a  unique world of people who understand 
              the needs of developers and users having different services, resources, 
              who wish to integrate on the basis of modern hardware and software.</p> <br/>
                <br/> <br/>
                <br/>
        </div>
       
      </div>
    </div>
  </div>
  </div>
    <br/>
    <br/>
		    <div class="row">
				  
          <div class="col s12">
                <div class="row">
                    <div class="col s8">
                         <h2 class="header">Contact Us</h2> </div>
                       <div class="col s4 right-align">   
                        <span class="right-align"><a [routerLink]="['/']" fragment="top"> back to top</a> </span>
                       </div>
                </div>
    <div class="card horizontal" style="background-color: #F8E6E0;">
      <div class="card-image" style="font-size: 1.2em;">
       <div class="row">
                  <div class="col s4">
                    <i class="Large material-icons">store</i>
                  </div>
                  <div class="col s8">
                    <br/>
                    Alapere, 
                    Ketu,
                    Lagos.
                  </div>
                  </div>
                  <div class="row">
                  <div class="col s4">
                    <i class=" Large material-icons">call</i>
                  </div>
                  <div class="col s8">
                    <br/>
                      07036583661
                  </div>
               </div>
                  <div class="row" id="contact" >
                  <div class="col s4">
                    <i class="Large material-icons">email</i>
                  </div>
                  <div class="col s8">
                    <br/>
                     henrit09@gmail.com
                  </div>
              </div>
      </div>
      <div class="card-stacked">
        <div class="card-content" id="contact" style="font-size: 1.2em;">
          <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5605.068234975808!2d3.3839911281535153!3d6.599387899694815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bed7ab6ef9c09%3A0x5eb98675d6a5e5cd!2sIkorodu+Rd!5e0!3m2!1sen!2sng!4v1509623522180" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </p> <br/>
                <br/> <br/>
                <br/>
        </div>
       
      </div>
    </div>

			</div>
			</div>
      
    <br/>
    <br/>
    <br/>
    <br/>
         <div class="col s12 m12">
          <div class="card center-align"> 
         <footer class="page-footer">
         <div class="footer-copyright">
            <div class="container">
            © 2017 Henrit Track All rights reserved
           
            </div>
          </div>
        </footer>        
        </div>
      </div>